option_settings:
  "aws:elasticbeanstalk:application:environment":
    DJANGO_SETTINGS_MODULE: "crawling.settings"
    "PYTHONPATH": "./crawling"
    "PYTHONPATH": "/opt/python/current/app/crawling:$PYTHONPATH"
    "ALLOWED_HOSTS": ".elasticbeanstalk.com"
  "aws:elasticbeanstalk:container:python":
    WSGIPath: crawling/wsgi.py
    NumProcesses: 3
    NumThreads: 20
  "aws:elasticbeanstalk:container:python:staticfiles":
    "/static/": "www/static/"
container_commands:
  02_createsu:
    command: "source /opt/python/run/venv/bin/activate && python crawling/manage.py createsu"
    leader_only: true
  03_collectstatic:
    command: "source /opt/python/run/venv/bin/activate && python crawling/manage.py collectstatic --noinput"


